.dialogs {
    display: grid;
    grid-template-columns: 1fr 1fr;



}

.dialogItems {
    padding: 20px;
    display: grid;
    grid-template-columns: 50px 50px 50px;

}


.messages {
    padding: 20px;
    border-left: 1px solid #ccc; /* Параметры линии */
    margin-left: 20px; /* Отступ слева */
    padding-left: 40px; /* Расстояние от линии до текста */


}

.message {
    color: #838daa;
    text-decoration: none;
    margin-top: 5px;

}

.dialog img {
    width: 30px;
    height: 30px;
    border-radius: 10px ;

}



.dialog {
    display: grid;
    grid-template-columns: 2fr 10fr;
    vertical-align: baseline;
    color: black;
    text-decoration: none;
}

.active {
    color: #8224e3 ;
}

.DiaNam {
    display: grid;
    grid-template-raw: 2fr 10fr;
    grid-gap: 5% 10px;
    margin-top: 5px;
    font-size:small;
    text-align:center;




}