.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;


}

.dialogItems {
    padding: 10px;
    text-decoration: none;
    color: black;
}

.dialogItems .active {
    color: gold;

}

.messages {
    padding: 10px;
}

.message {

}

.dialog {
    text-decoration: none;
}